In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('ecommerce.csv')
data

         date  purchases  items_sold
0  01-08-2023         25         120
1  02-08-2023         30         150
2  03-08-2023         18          90
3  04-08-2023         22         110
4  05-08-2023         28         140
5  06-08-2023         35         175
6  07-08-2023         20         100
7  08-08-2023         27         135
8  09-08-2023         31         155
9  10-08-2023         26         130

In [3]:
data['date'] = pd.to_datetime(data['date'])

In [5]:
user_date = input("Enter a date: ")
user_date = pd.to_datetime(user_date)

Enter a date: 01/08/2023

In [6]:
selected_data = data[data['date'] == user_date]

In [7]:
if selected_data.empty:
    print("No data available for the provided date.")
else:
    # Get information for the selected date
    purchases_on_date = selected_data['purchases'].values[0]
    items_sold_on_date = selected_data['items_sold'].values[0]

    avg_purchases_per_day = data['purchases'].mean()
    
    if purchases_on_date > avg_purchases_per_day:
        more_purchases_than_avg = "more" 
    else:
        more_purchases_than_avg = "not more"

In [9]:
print("purchases: ", purchases_on_date)
print("Items sold: ", items_sold_on_date)
print("Purchases were " + more_purchases_than_avg +" than average.")

purchases:  25
Items sold:  120
Purchases were not more than average.